head
    title Devausor.us
    link(rel='stylesheet' href='/styles.css')
    link(rel="icon", type="image/svg+xml", href="logo.svg")
    script(src='https://kit.fontawesome.com/d6a0937d00.js' crossorigin='anonymous')
    include matomo