// Matomo Tag Manager
script.
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    (function() {
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; g.src = 'https://matomo.devausorus.com/js/container_mx5vUUwB.js'; s.parentNode.insertBefore(g, s);
    })();
// End Matomo Tag Manager