<!DOCTYPE html>
html
    include partials/head
    body
        div.main-container.flex-col
            div.link-container.flex-row
                p.url
                    | Your shortened URL is :
                    a.shortened-link.cta-click-link(href=`${url}`)
                        | #{url}
                button.copy-link-btn.cta-copy-link(data-link=`${url}` title='Copy to clipboard')
                    i.fa-solid.fa-copy.fa-2x
            div.qr-container.flex-col
                p.qr-desc
                    | Scan the QR code to visit the shortened URL
                img#qr-code(src=`${qr}`)

        script(src='/script.js' type='module')
