<!DOCTYPE html>
html
    head
        title Devausor.us
        link(rel='stylesheet' href='/styles.css')
        link(rel="icon", type="image/svg+xml", href="logo.svg")
        script(src='https://kit.fontawesome.com/d6a0937d00.js' crossorigin='anonymous')
    body
        div.main-container.flex-col
            div.link-container.flex-row
                p.url
                    | Your shortened URL is :
                    a.shortened-link(href=`${url}`)
                        | #{url}
                button.copy-link-btn(data-link=`${url}` title='Copy to clipboard')
                    i.fa-solid.fa-copy.fa-2x
        script(src='/script.js')
